{% extends "base.html" %}
{% load static %}

{% block content %}
    {% for movie in movies %}
        {% if forloop.counter|divisibleby:"1" %}
            <hr>
        {% endif %}
        <div class="container">
            <h3>{{ movie.title }}</h3>
            <div class="cardcontainer">
                <div class="photo">
                    <img src="{% if movie.image %}
                                {{ movie.image.url }}
                                {% else %}
                                {% static "img/no_content.jpeg" %}
                                {% endif %}">
                </div>
                <div class="content">
                    {% autoescape off %}
                        <p class="txt4">{{ movie.description|truncatewords:50 }} <br>
                            {{ movie.upper_title }}</p>
                    {% endautoescape %}
                </div>
                <div class="footer">
                    <p><a class="waves-effect waves-light btn" href="#">Detail</a><a id="heart"></a>
                        Rate {{ movie.rate }}
                        Year {{ movie.year }}
                    </p>
                    <p class="txt3"><i class="far fa-clock"></i>updated {{ movie.updated_at|date:"D d M Y" }} </p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container">
        <div class="pagination">
            {% if movies.has_previous %}
                <a href="?page={{ movies.previous_page_number }}">&laquo;</a>
                <a href="?page={{ movies.previous_page_number }}">{{ movies.previous_page_number }}</a>
            {% endif %}
            <a href="#" class="active">{{ movies.number }}</a>
            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}" >{{ movies.next_page_number }}</a>
                <a href="?page={{ movies.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
    <br>
{% endblock %}