<div class="container">
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
            <a href="#" class="active">{{ page_obj.number }}</a>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if search %}&search={{ search }}{% endif %}" >{{ page_obj.next_page_number }}</a>
                <a href="?page={{ page_obj.next_page_number }}{% if search %}&search={{ search }}{% endif %}">&raquo;</a>
            {% endif %}
        </div>
    </div>